<!doctype html>
<html>
    <body>
        <h1>Jednoduchý rozcestník</h1>
        <ul>
            <li><a href="/frantisek-vomacka">František Vomáčka</a></li>
            <li><a href="/josef-voprsalek">Josef Vopršálek</a></li>
            <li><a href="/zabak-sro">Žabák s.r.o.</a></li>
        </ul>
    </body>
</html>
